html, body, header, div, main, section{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

#container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.colunas {
    display: flex;
    flex-flow: column-reverse nowrap;
}

.quadrados {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}

.disco {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.preto {
    background-color: #000;
}

.vermelho {
    background-color: #ff0000;
}

.cheio{
    position: absolute;
    background-color: rgb(172, 199, 190);
    top: 25%;
    border-radius: 10px;
    padding: 10px;
}