html, body, header, div, main, section{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.players {
    margin: 10px;
    display: flex;
    width: 280px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100%;
    border: 1px solid black;
}

.container {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.colunas {
    display: flex;
    flex-flow: column-reverse nowrap;
}

.quadrados {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}

.disco {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.preto {
    background-color: #000;
}

.vermelho {
    background-color: #ff0000;
}

.cheio{
    position: absolute;
    background: linear-gradient(#ff6b27,#39006e);
    color: white;
    font-weight: bold;
    top: 20%;
    border-radius: 10px;
    padding: 10px;
    left: 30%;
    
}

.vencedorSol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    background: linear-gradient(#ff7301,#ffc815);
}

.vencedorLua{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    color: white;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    background: linear-gradient(#0a0944,#939399);
}

.empate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    color: white;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(#ff3c01,#030233);
}

.botao{
    padding: 10px 20px 10px 20px;
    background: linear-gradient(217deg, rgba(73, 142, 206, 0.8), rgba(100,55,100,0) 70.71%),
            linear-gradient(127deg, rgba(20,1,200,.8), rgba(0,120,30,0) 70.71%),
            linear-gradient(336deg, rgba(110,0,255,.8), rgba(0,0,255,0) 70.71%);
    border-radius: 10px;
    color:white;
    border: none;
    box-shadow: 4px 4px 3px 1px black;
    font-weight: bold;
    cursor: pointer;
}

.botao:hover{
    cursor: pointer;
    box-shadow: 0 0 10px hsl(263, 100%, 58%), 0 0 15px hsl(263, 100%, 70%), 0 0 10px hsl(263, 100%, 58%);
}

.botao:active{
    cursor: pointer;
    transform: translate(2px,2px);
    box-shadow: 2px 2px 3px 1px black;
}

.hidden {
    display: none;
}