html, body, header, div, main, section{
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

#container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.colunas {
    display: flex;
    flex-flow: column-reverse nowrap;
}

.quadrados {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}

.disco {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.preto {
    background-color: #000;
}

.vermelho {
    background-color: #ff0000;
}

.cheio{
    position: absolute;
    background: linear-gradient(#ff6b27,#39006e);
    color: white;
    font-weight: bold;
    top: 20%;
    border-radius: 10px;
    padding: 10px;
    left: 30%;
    
}

.vencedorSol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    background: linear-gradient(#ff7301,#ffc815);
}

.vencedorLua{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    color: white;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    background: linear-gradient(#0a0944,#939399);
}

.empate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    color: white;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(#ff3c01,#030233);
}